:root {
  --primary: #b5bc92;
  --secondary: #e5e5ed;
  font-family: "Helvetica", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--secondary);
  background-color: var(--primary);
  background-image: url(https://thumbs.dreamstime.com/z/fondo-cient%C3%ADfico-abstracto-planetas-en-espacio-nebulosa-y-estrellas-elementos-de-esta-imagen-equipados-por-la-nasa-de-la-nasa-84026576.jpg);
}

ul {
  list-style-type: none;
}

a {
  color: indianred;
  text-decoration: none;
}

a:hover,
.active {
  color: rgb(106, 35, 9);
}

main {
  min-height: calc(100vh - 100px - 70px);
}
